name: ci.yml

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  java-test:
    uses: ./.github/workflows/java-test.yml

  docker-ci:
    uses: ./.github/workflows/docker-ci.yml
